.navBar {
  position: fixed;
  background-color: #cad2c5;
  height: 100px;
  width: 100%;
  z-index: 10;
}

.navBar ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  color: #036666;
  margin: 15px -70px 0px 0px;
}

.navBar ul li {
  padding: 20px 50px;
  font-size: 20px;
  cursor: pointer;
}

.navBar ul li:hover {
  color: #fff;
}

.navBar ul h1 {
  font-size: 50px;
}

.navBar ul h1 span {
  font-size: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 500;
}

.dropDownMenu {
  display: none;
}

.dropDownNav {
  font-size: 20px;
  margin-top: 100px;
}

.dropDownNav li {
  color: #000;
  margin-bottom: 20px;
  cursor: pointer;
}

.dropDownNav li:hover {
  color: #fff;
  margin-bottom: 20px;
}

.fixed {
  position: fixed;
}

.left0 {
  left: 0;
}

.hFull {
  height: 100%;
}

.top0 {
  top: 0;
}

.w50 {
  width: 40%;
}

.borderR {
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.borderRGray900 {
  border-color: #000;
}

.bg000300 {
  background-color: rgba(202, 210, 197, 0.8);
}

.easeInOut {
  transition-timing-function: ease-in-out;
}

.duration500 {
  transition-duration: 500ms;
}

.leftNegative100 {
  left: -100%;
}

@media (max-width: 900px) {
  .navBar ul li {
    padding: 20px 20px;
  }
}

@media (max-width: 620px) {
  .navBar ul li {
    display: none;
  }
  .navBar ul {
    margin-right: -20px;
  }
  .dropDownMenu {
    display: block;
    position: absolute;
    right: 40px;
    top: 40px;
  }
}
